<section id="rooms">
	<h1>Rooms nearby</h1>
	<div class="room-item" 	ng-repeat="room in ctrl.roomList"
							ng-class="{'in': room.in }"
							ng-click="ctrl.openRoomModal(room)"
                            ng-show="ctrl.hasSignal">
		<span>{{:: room.name }}</span>
	</div>
    <div class="room-signal" ng-hide="ctrl.hasSignal">
        <div class="room-signal-content">
            <h2>No rooms were found nearby :-(</h2>
            <i class="fa fa-microphone fa-4x" ng-click="ctrl.startListening()"></i>
            <h3>Start listening for rooms</h3>
        </div>
    </div>
    <button type="button" class="button-blue" ng-click="ctrl.startBroadcasting()">Create new room</button>
</section>

<!-- Modal code -->
<script type="text/ng-template" id="room-modal.html">
<div id="room-modal">
    <div class="modal-header">
        <h3 class="modal-title">{{:: room.name }}</h3>
    </div>
    <div class="modal-body">
    	<div class="created-by">Created By <span>{{:: room.owner.username }}</span>
    	</div>
    	<div class="active-user">
    		{{:: 3 }} Active User
    	</div>
    </div>
    <div class="modal-footer">
        <button class="button button-blue" ng-click="ok()">Join</button>
    </div>
</div>
</script>