<div id="documentViewer">
    <div id="buttonNav">
		<button id="prev" class="button" ng-click="ctrl.getPrevPage()">Previous</button>
		<button id="next" class="button" ng-click="ctrl.getNextPage()">Next</button>
		<button id="zoomIn" class="button" ng-click="ctrl.zoomIn()">+</button>
		<button id="zoomOut" class="button" ng-click="ctrl.zoomOut()">-</button>
		&nbsp; &nbsp;
		<span id="pageCounts">Page: {{ctrl.currentPage}} / {{ctrl.totalPages}}</span>
	</div>

    <div id="viewerContainer">
        <div id="canvasContainer">
        	<canvas id="viewerCanvas" ng-click="ctrl.openCommentModal($event)"></canvas>

        	<div class="annotation" ng-repeat="annotation in ctrl.annotations" style="top: {{annotation.y}}px; left: {{annotation.x}}px" ng-show="annotation.page == ctrl.currentPage && !isMuted(annotation.owner)">
				<span>{{annotation.owner.username}}: {{annotation.content}}</span>
    		</div>
        </div>
        <div id="userList">
        	<ul>
        	    <li><button ng-click="muteUser(user)">x</button> User1</li>
        	    <li><button ng-click="muteUser(user)">x</button> User2</li>
        	    <li><button ng-click="muteUser(user)">x</button> User3</li>
        	</ul>
        </div>
    </div>
    {{$event}}
</div>

<script type="text/ng-template" id="comment-modal.html">
<div id="comment-modal">
    <div class="modal-header">
        <h3 class="modal-title">Kommentar hinzufügen</h3>
    </div>
    <div class="modal-body">
        <textarea ng-model="comment.content"></textarea>
    </div>
    <div class="modal-footer">
        <button class="button button-blue" ng-click="ok()">SPEICHERN</button>
    </div>
</div>
</script>