<div id="documentViewer">
    <div id="buttonNav">
		<button id="prev" class="button" ng-click="ctrl.getPrevPage()">Previous</button>
		<button id="next" class="button" ng-click="ctrl.getNextPage()">Next</button>
		<button id="zoomIn" class="button" ng-click="ctrl.zoomIn()">+</button>
		<button id="zoomOut" class="button" ng-click="ctrl.zoomOut()">-</button>
		&nbsp; &nbsp;
		<span id="pageCounts">Page: {{ctrl.currentPage}} / {{ctrl.totalPages}}</span>
	</div>

    <div id="viewerContainer">
        <canvas id="viewerCanvas"></canvas>
        <div id="userList">
        	<ul>
        	    <li><button ng-click="muteUser(user)">x</button> User1</li>
        	    <li><button ng-click="muteUser(user)">x</button> User2</li>
        	    <li><button ng-click="muteUser(user)">x</button> User3</li>
        </div>

        <div class="annotation" ng-repeat="annotation in ctrl.annotations" style="top: {{annotation.top}}px; left: {{annotation.left}}px" ng-show="annotation.page == ctrl.currentPage && !isMuted(annotation.owner)">
			<span>{{annotation.user}}: {{annotation.comment}}</span>
    	</div>
    </div>

</div>