<section id="chat">

	<!-- Chat text area -->
	<section class="chat-text">

		<h1>Mathe 1</h1>

		<!-- Chat event -->
		<div class="chat-text-event">
			<div class="chat-text-pic">
				<img src="images/users/brandon.jpg" class="img-circle">
				<div class="chat-head">
					<span>Deshi-Basara</span> joined.
				</div>
			</div>
		</div>

		<!-- Chat user msg -->
		<div class="chat-text-left in">
			<div class="chat-text-pic">
				<img src="images/users/ramona.jpg" class="img-circle">
				<div class="chat-head">
					<div class="chat-name">Ramona Nora</div>
					<div class="chat-time">15:12</div>
				</div>
			</div>
			<div class="chat-text-msg">
				<p>I love the smell of fresh napalm in the morning</p>
			</div>
		</div><!-- / Chat user msg -->

		<!-- Chat own msg -->
		<div class="chat-text-right in">
			<div class="chat-text-pic">
				<img src="images/users/svenja.jpg" class="img-circle">
				<div class="chat-head">
					<div class="chat-name">Svenja</div>
					<div class="chat-time">15:13</div>
				</div>
			</div>
			<div class="chat-text-msg">
				<p>I love the smell of fresh napalm in the morning, I love the smell of fresh napalm in the morning. I love the smell of fresh napalm in the morning. I love the smell of fresh napalm in the morning</p>
			</div>
		</div><!-- / Chat user msg -->
	</section>

	<!-- Chat input area -->
	<section class="chat-input">
		<button type="button" class="button" ng-click="ctrl.submitMsg"><i class="fa fa-send fa-2x"></i></button>
		<textarea ng-model="ctrl.inputMsg">Hi</textarea>
	</section>

</section>
<!--<section id="chat-users">
	test
</section>-->