<div id="login">

    <div class="login-form">
        <div class="login-form-header" ng-hide="true">
            <h1>Hive App</h1>
        </div>
        <div class="login-form-input center-parent">

            <div class="center-child">
                <div class="input-group">
                    <label>BENUTZERNAME</label>
                    <input class="input-text" type="text" ng-model="ctrl.login.username">
                </div>
                <div class="input-group">
                    <label>PASSWORT</label>
                    <input class="input-text" type="password" ng-model="ctrl.login.password">
                </div>
            </div>

        </div>
        <div class="login-form-submit">
            <button class="button" ng-click="ctrl.submitLogin()">EINLOGGEN</button>
            <div>oder</div>
            <a href="#/register">Einen neuen Account anlegen</a>
        </div>
    </div>

</div>

<error-message ng-show="ctrl.showError">Login: {{ctrl.errorMsg}}</error-message>