/**
 * Input buttons
 */
.input-text {
    height: em(38);
    padding: 0;
    float: none;
    border: 0;
    box-shadow: none;
    border-radius: 0;
    background: 0 0;
    border-bottom: 2px solid $hive-light-grey;
    color: $hive-black;
    outline: none;
    font-size: em(20);
    font-weight: normal;
}

.input-group {
    margin-bottom: 10px;
}

label {
    height: em(50);
    line-height: em(50);
}

.button {
    position: relative;
    padding: 10px 40px;
    border: 0;
    margin: 10px 1px;
    cursor: pointer;
    text-decoration: none;
    color: $hive-white;
    outline: 0!important;
    box-shadow: inset 1px 1px rgba(255, 255, 255, 0.21);
    border: 1px solid $hive-blue;
    letter-spacing: 0.02em;
    background: $hive-light-blue;
    color: $hive-blue;
    text-transform:uppercase;
}

.button:hover {
    box-shadow: 0 3px 6px rgba(0,0,0,.16),0 3px 6px rgba(0,0,0,.23);
    @include transition(box-shadow .28s cubic-bezier(0.4,0,.2,1));
}

.button-green {
    background-color: $hive-green;
}

.button-greener {
    background-color: $hive-greener;
}

.button-red {
    background-color: $hive-red;
}

.button-neutral {
    background-color: $hive-blue;
}

.button-blue {
    border: 1px solid $hive-blue;
    background-color: $hive-light-blue;
    color: $hive-blue;
}

.button-clear {
    border-color: transparent;
    background: none;
    box-shadow: none;
}


/**
 * Centering
 */
.center-parent {
    display: table;
}

.center-child {
    display: table-cell;
    vertical-align: middle;
}

/**
 * Warning/Info
 */
.toast {
    @include position(fixed, null null 30px null);
    @include span-columns(10 of 12);
    @include shift(1);

    color: $hive-white;
    text-align: center;

    .error-msg {
        background-color: $hive-red;
        box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.26);
        padding: 15px 25px 15px 25px;
        font-weight: bold;
    }
}

/**
 * Section boxes
 */
.section-box {
    background-color: $hive-white;
    box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.26);
    padding: 15px;
    position: relative;

    .section-box-head {
        height: em(40);
        line-height: em(40);
        border-bottom: 1px solid $hive-grey;
    }

    .section-box-footer {
        width: 98%;
        position: absolute;
        bottom: 0px;
        height: em(65);
        border-top: 1px solid $hive-grey;
        text-align: right;
    }
}

/**
 * Form inputs
 */
textarea {
    border: 1px solid $hive-grey;
    outline: none;
}

/**
 * Preloader
 */
.preloader {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: $hive-white;
    text-align: center;

    z-index: 1000;
    opacity: 1;
    @include transition(opacity 0.7s ease-in-out);
    &.out {
        opacity: 0;
    }

    img {
        position: relative;
        top: 39%;
    }
}