/**
 * Colors
 */
$hive-blue: #29AAEB;
$hive-light-blue: #D4ECF8;
$hive-black: #121212;
$hive-grey: #A1A1A1;
$hive-light-grey: #D7D7D7;
$hive-white: #FFFFFF;

/**
 * DEPRECATED!
 */
$hive-green: #5ACA00;
$hive-greener: #50B200;
$hive-red: #DD0039;
$hive-dark: #434343;
$hive-border: #cdcdcd;
/**
 * DEPRECATED!
 */

/**
 * Whiteframes
 */
$white-z1: 0px 2px 5px 0 rgba(0, 0, 0, 0.26);


/**
 * Fonts
 */
@include font-face(SourceSansPro, '../../fonts/SourceSansPro-Regular');
@include font-face(BrandonMed, '../../fonts/brandon_med');


$font-primary: 'SourceSansPro';
$font-secondary:  'BrandonMed'; // Headlines, Input Labels, Buttons

/**
 * Global settings
 */
html, body {
	width: 100%;
	height: 100%;

	font-family: $font-primary;
	font-weight: 300;

	h1, h2, h3, h4, h5, h6, button, input, textarea {
		font-family: $font-secondary !important;
	}
}

.main-container {
	height: 100%;
	width: 100%;
}

.nested-container {
	position: relative;
    height: 86%;
    //margin-top: -70px;
}

.outer-container{
   @include outer-container;
}