/**
 * Colors
 */
$hive-green: #5ACA00;
$hive-greener: #50B200;
$hive-red: #DD0039;
$hive-blue: #149ECC;
$hive-white: #FFFFFF;
$hive-grey: #E6E6E6;
$hive-dark: #434343;
$hive-border: #cdcdcd;

/**
 * Whiteframes
 */
$white-z1: 0px 2px 5px 0 rgba(0, 0, 0, 0.26);


/**
 * Fonts
 */
$font-primary: 'Lato', sans-serif;

/**
 * Global settings
 */
html, body {
	width: 100%;
	height: 100%;

	font-family: $font-primary;
	font-weight: 300;
}

.main-container {
	height: 100%;
	width: 100%;
}

.nested-container {
    padding: 30px;
    height: 100%;
}

.outer-container{
   @include outer-container;
}