/**
 * Overwrite bootstrap defaults
 */
.modal-dialog {

    .modal-content {
        border-radius: 2px;
        border: 2px solid $hive-blue;
        box-shadow: 0;
        -webkit-box-shadow: 0;

        .modal-header {
            color: $hive-blue;
            text-transform: uppercase;
            border-bottom: 0;
        }

        .modal-body {
            margin-top: -15px;
        }

        .modal-footer {
            margin-top: 20px;
            border-top: 0;
            text-align: center;
        }
    }
}
.modal-content {
    -webkit-box-shadow: 0;
    box-shadow: 0;
}
.modal-backdrop {
    width: 100%;
    height: 100%;
    opacity: 0.8;

    background-color: $hive-white;
}