#login {
    background-color: $hive-white;

    @include size(100% 100%);

    .login-form {
        max-width: 500px;
        @include size(30% 40%);
        min-height: 274px;
        @include position(relative, 45% 0 0 50%);
        @include transform(translate(-50%, -50%));
        @include span-columns(11 of 12);

        .login-form-header {
            padding-top: 10px;
            height: em(40);
            line-height: em(45);
            font-size: em(24);
            margin-bottom: 25px;
             margin-left: 17%;

            @include position(relative, 0 0 0 0);
        }

        .login-form-input {
            height: 60%;
            width: 100%;

            .input-group {
                width: 100%;

                label {
                    @include span-columns(8 of 12);
                    @include shift(2);
                    @include omega(1n);

                    font-size: em(15);
                    text-align: left;
                    color: $hive-blue;
                    bottom: 0;
                }

                input {
                    @include span-columns(8 of 12);
                    @include shift(2);
                    @include omega(1n);

                    margin-top: -10px;
                }
            }
        }

        .login-form-submit {
            width: 100%;
            bottom: -50px;
            text-align: center;

            button {
                background-color: $hive-light-blue;
                color: $hive-blue;
            }

            div {
                color: $hive-grey;
            }

            a {
                margin-top: 10px;
                color: $hive-blue;
                display: block;
            }
        }

        .login-form-warning {
            position: absolute;
            bottom: -45px;
        }
    }
}