#register {
    background-color: $hive-white;

    @include size(100% 100%);

    .register-form {
        max-width: 500px;

        @include size(40% 48%);
        min-height: 374px;
        @include position(relative, 50% 0 0 50%);
        @include transform(translate(-50%, -50%));
        @include span-columns(11 of 12);

        .register-form-header {
            background-color: $hive-white;
            padding-top: 10px;
            height: em(40);
            line-height: em(45);
            font-size: em(24);
            margin-left: 17%;
            @include position(relative, 0 0 0 0);
        }

        .register-form-input {
            height: 70%;
            width: 100%;

            .input-group {

                width: 100%;
                text-align: left;

                label {
                    @include span-columns(8 of 12);
                    @include shift(2);
                    @include omega(1n);

                    font-size: em(15);
                    text-align: left;
                    color: $hive-blue;
                    bottom: 0;
                }

                input {
                    @include span-columns(8 of 12);
                    @include shift(2);
                    @include omega(1n);

                    margin-top: -10px;
                }

                span {
                    color: $hive-blue;
                    font-size: 1.25em;
                }
            }
        }

        .register-form-submit {
            width: 100%;
            bottom: 10px;
            text-align: center;
        }

        .register-form-warning {
            position: absolute;
            bottom: -45px;
        }
    }
}