#room-nav {
	width: 100%;
	height: 70px;

	background-color: $hive-light-blue;

	.nav-item {
		@include span-columns(4 of 12, $display: block-collapse);
		height: 50px;
		margin-top: 10px;
		text-align: center;
		line-height: 60px;
		border-right: 1px solid $hive-white;

		a {
			@include span-columns(12 of 12);
		}

		i {
			color: $hive-blue;

			@include transition(padding-left 0.7s ease-in-out, padding-right 0.7s ease-in-out);
		}
	}

	.nav-item:hover, .nav-item.active {

		i {
			padding-left: 20%;
			border-bottom: 4px solid $hive-blue;
			padding-right: 20%;
			padding-bottom: 15px;
		}
	}
}