#rooms {
	@include outer-container();

	h1 {
		margin-top: em(50px);
		color: $hive-blue;
		text-transform: uppercase;
	}

	.room-item {
		@include span-columns(12 of 12);
		@include omega(1n);

		border-bottom: 1px solid $hive-grey;
		font-size: em(18);
		line-height: em(50);
		cursor: pointer;

		//opacity: 0;
		//@include transform(translate3d(0, -50px, 0));
		@include transition(all 0.2s ease-in-out);
		&.in {
			@include transform(translate3d(0,0,0));
			opacity: 1;
		}

		span {
			padding-left: 10px;
		}
	}
}

#room-modal {
	border-radius: 1px;

	.modal-body {
		.created-by {
			span {
				font-weight: bold;
			}
		}

		.active-user {
			margin-top: 15px;
		}
	}
}