#documentViewer {
    background-color: $hive-white;

    @include size(100% 100%);

    button {
        background-color: $hive-light-blue;
        color: $hive-blue;
    }

    #pageCounts {
        color: $hive-black;
    }

    .annotation {
        color: $hive-white;
        background-color: $hive-blue;
        position: absolute;
    }

    #viewerContainer {
        @include span-columns(10 of 12);
    }

    #buttonNav {
        @include span-columns(10 of 12);
        @include omega();
    }

    #canvasContainer {
        @include span-columns(5 of 12);
        position: relative;
    }

    #userList {
        @include span-columns(2 of 12);
        margin-top: 2em;

        ul {
            list-style: none;

            li {
                margin-top: 3px;
            }
        }

        button {
            border: none;
        }
    }

    @media screen and (max-width: 768px) {
        #userList {
            display: none;
        }
    }
}

#comment-modal {
    textarea {
        width: 100%;
        min-height: 6em;
    }
}