<div id="register">

    <div class="register-form">
        <div class="register-form-header">Willkommen zu Hive.</div>
        <div class="register-form-input center-parent">
            <div class="center-child">
                <div class="input-group">
                    <label>BENUTZERNAME</label>
                    <input class="input-text" type="text" ng-model="ctrl.register.username">
                </div>
                <div class="input-group">
                    <label>PASSWORT</label>
                    <input class="input-text" type="password" ng-model="ctrl.register.password">
                </div>
                <div class="input-group">
                    <label>ICH BIN PROFESSOR</label>
                    <input type="checkbox" ng-model="ctrl.register.prof">
                </div>  
            </div>
        </div>
        <div class="register-form-submit">
            <button class="button" ng-click="ctrl.submitRegistration()">REGISTRIEREN</button>
        </div>
    </div>

</div>

<error-message ng-show="ctrl.showError">Registrierung: {{ctrl.errorMsg}}</error-message>