<div id="register">

    <div class="register-form">
        <div class="register-form-header">
            <span class="headline">Hive App - Registrierung</span>
        </div>
        <div class="register-form-input center-parent">

            <div class="center-child">
                <div class="input-group">
                    <label>Benutzername</label>
                    <input class="input-text" type="text" ng-model="ctrl.register.username">
                </div>
                <div class="input-group">
                    <label>Email</label>
                    <input class="input-text" type="text" ng-model="ctrl.register.email">
                </div>
                <div class="input-group">
                    <label>Passwort</label>
                    <input class="input-text" type="password" ng-model="ctrl.register.password">
                </div>
                <div class="input-group">
                    <label>Passwort wiederholen</label>
                    <input class="input-text" type="password" ng-model="ctrl.register.password2">
                </div>
            </div>

        </div>
        <div class="register-form-submit">
            <button class="button" ng-click="ctrl.submitRegistration()">Registrieren</button>
        </div>
    </div>

</div>

<error-message ng-show="ctrl.showError">Registrierung: {{ctrl.errorMsg}}</error-message>